Repository tamascsaba/caseizer: changes, and which lint-staged commands are due for each by the changed paths.
All: js-beautify -r, stylelint --syntax scss --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.html": [
    "js-beautify -r"
  ],
  "*.scss": [
    "stylelint --syntax scss --fix",
    "prettier --write"
  ],
  "*.ts": [
    "eslint --fix"
  ]
}

Add basic layout :star:
  .gitignore
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.module.ts
  src/app/components/case-editor/case-editor.component.html
  src/app/components/case-editor/case-editor.component.scss
  src/app/components/case-editor/case-editor.component.spec.ts
  src/app/components/case-editor/case-editor.component.ts
  src/app/components/case-settings/case-settings.component.html
  src/app/components/case-settings/case-settings.component.scss
  src/app/components/case-settings/case-settings.component.spec.ts
  src/app/components/case-settings/case-settings.component.ts
  src/app/components/hero/hero.component.html
  src/app/components/hero/hero.component.scss
  src/app/components/hero/hero.component.spec.ts
  src/app/components/hero/hero.component.ts
  src/app/components/navbar/navbar.component.html
  src/app/components/navbar/navbar.component.scss
  src/app/components/navbar/navbar.component.spec.ts
  src/app/components/navbar/navbar.component.ts
  src/assets/caseizer.png
  src/favicon.ico
  src/index.html
  src/styles/main.scss
Due: js-beautify -r, stylelint --syntax scss --fix, prettier --write, eslint --fix

feat(form): Add form model to the case settings editor :pencil:
  src/app/app.module.ts
  src/app/components/case-editor/case-editor.component.ts
  src/app/components/case-settings/case-settings.component.html
  src/app/components/case-settings/case-settings.component.scss
  src/app/components/case-settings/case-settings.component.ts
  src/app/services/case-editor.service.spec.ts
  src/app/services/case-editor.service.ts
Due: js-beautify -r, stylelint --syntax scss --fix, prettier --write, eslint --fix

feat(editor): support basic settings change :construction_worker:
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/components/case-editor/case-editor.component.html
  src/app/components/case-editor/case-editor.component.ts
  src/app/components/case-settings/case-settings.component.html
  src/app/constants/phone-image.constant.ts
  src/app/constants/phone-rect.constant.ts
  src/app/constants/phone-text.constant.ts
  src/app/interfaces/text-settings.interface.ts
  src/app/services/case-editor.service.ts
  src/assets/phone.png
Due: js-beautify -r, eslint --fix

feat(editor): support case download :construction_worker:
  src/app/components/case-editor/case-editor.component.html
  src/app/components/case-editor/case-editor.component.ts
Due: js-beautify -r, eslint --fix

fix(test): fix module imports and canvas mock :construction_worker:
  jest.config.js
  package-lock.json
  package.json
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/components/case-editor/case-editor.component.spec.ts
  src/app/components/case-editor/case-editor.component.ts
  src/app/components/case-settings/case-settings.component.spec.ts
  src/app/components/case-settings/case-settings.component.ts
  src/app/components/hero/hero.component.spec.ts
  src/app/components/navbar/navbar.component.spec.ts
  src/setup-jest.ts
Due: eslint --fix
